name: Update v-branch
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Release tag
        required: true
        type: string

jobs:
  update-v-branch:
    name: Update v* branch to ${{ inputs.tag }}
    runs-on: github-ubuntu-latest-s
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: update v* branch
        run: |
          VERSION="${{ inputs.tag }}"
          VBRANCH="v${VERSION%%.*}"
          git checkout -B "$VBRANCH" "$VERSION"
          git push --force origin "$VBRANCH"
